<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>
    cdunn.io - {{ page.title }}
  </title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ page.subtitle }}{% endif %}">
  <meta name="robots" content="index, follow">
  <meta name="author" content="@cdunnnnnnn">
  <link rel="canonical" href="{{ site.url }}{% if page.url %}{{ page.url }}{% endif %}">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@cdunnnnnnn">
  <meta name="twitter:creator" content="@cdunnnnnnn">
  <meta name="twitter:title" content="cdunn.io - {{ page.title }}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ page.subtitle }}{% endif %}">
  <meta name="twitter:image" content="{% if page.externalImage %}{{ page.externalImage }}{% else %}{{ site.url }}{{ page.image }}{% endif %}">
  <meta name="twitter:domain" content="{{ site.url }}">
  <!-- Facebook / Open Graph -->
  <meta property="og:title" content="cdunn.io - {{ page.title }}">
  <meta property="og:type" content="{% if page.is_post %}article{% else %}website{% endif %}">
  <meta property="og:url" content="{{ site.url }}{% if page.url %}{{ page.url }}{% endif %}">
  <meta property="og:image" content="{% if page.externalImage %}{{ page.externalImage }}{% else %}{{ site.url }}{{ page.image }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ page.subtitle }}{% endif %}">
  <meta property="og:site_name" content="cdunn.io">
  <!-- Google+ / Schema.org  -->
  <meta itemprop="name" content="cdunn.io - {{ page.title }}">
  <meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ page.subtitle }}{% endif %}">
  <meta itemprop="image" content="{% if page.externalImage %}{{ page.externalImage }}{% else %}{{ site.url }}{{ page.image }}{% endif %}">
  <!-- Icons -->
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="196x196" href="/assets/img/touch/touch-icon-196x196.png">
  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#2c2e31">
  <meta name="apple-mobile-web-app-title" content="cdunn.io">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="/assets/img/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#2c2e31">
  <!-- iOS icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/touch/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/touch/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/touch/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/img/touch/apple-touch-icon-57x57-precomposed.png">
  <!-- Generic Icon -->
  <link rel="shortcut icon" href="/assets/img/touch/touch-icon-57x57.png">
  <!-- Chrome Add to Homescreen -->
  <link rel="shortcut icon" sizes="196x196" href="/assets/img/touch/touch-icon-196x196.png">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  <!-- CSS -->
  <!-- build:css /assets/css/styles.min.css -->
  <link rel="stylesheet" href="/assets/css/styles.css">
  <!-- endbuild -->
  <!-- Google Fonts -->
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  <script>WebFont.load({google:{families:['Roboto:400,700,400italic']}})</script>
</head>
