<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar">

  <nav class="container sidebar-nav" itemscope itemtype="http://schema.org/Person">

    <div>
      <strong><span itemprop="name">{{ site.title }}</span> - <span itemprop="jobTitle">{{ site.description }}</span></strong>
    </div>

    <ul class="sidebar-nav-items">
      <li><a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="/">Home</a></li>
      <li><a class="sidebar-nav-item{% if page.title == 'About' %} active{% endif %}" href="/about">About</a></li>
    </ul>

    <span itemprop="email"><a href="&#x6d;&#97;&#105;&#108;&#116;&#x6f;&#x3a;&#x68;&#x65;&#x6c;&#108;&#x6f;&#64;&#x63;&#x64;&#117;&#110;&#x6e;&#46;&#x69;&#111;&#63;&#115;&#x75;&#98;&#x6a;&#x65;&#x63;&#x74;&#61;&#x69;&#x6e;&#113;&#x75;&#x69;&#114;&#121;&#32;&#102;&#114;&#x6f;&#x6d;&#32;&#x63;&#100;&#x75;&#110;&#110;&#x2e;&#105;&#x6f;" data-js="menu-email">hello@cdunn.io</a></span>

  </nav>

</div>
