//------------------------------------//
//  $GRID
//------------------------------------//

.row {
  letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
  *letter-spacing: normal; /* reset IE < 8 */
  *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
  /*
  Use flexbox when possible to avoid `letter-spacing` side-effects.
  NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
  `-moz-` prefix version is omitted.
  */
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

[class*="col-"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.colpad {
  @include bp-md {
    padding: 0 rem(8px);
  }
}

.col-1 {
  width: 100%;
}

.col-md-1-2 {
  @include bp-md {
    width: 50%;
    *width: 49.9690%;
  }
}

.col-lg-1-3 {
  @include bp-lg {
    width: 33.3333%;
    *width: 33.3023%;
  }
}
