//------------------------------------//
//  $LOCATION
//------------------------------------//

.location {
  padding: rem(64px);
}

.location-wrapper {
  position: relative;
}

.location-state {
  display: block;
  width: rem(136px);
  height: auto;
  margin: 0 auto;
  transform: rotateZ(-18deg);
  @include bp-sm {
    width: rem(196px);
  }
  @include bp-md {
    width: rem(256px);
  }
  @include bp-lg {
    width: rem(316px);
  }
  @include bp-xl {
    width: rem(376px);
  }
}

.location-state img {
  opacity: .125;
}

.location-pin {
  position: absolute;
  right: 30%;
  bottom: 46.5%;
  display: inline-block;
  width: rem(18px);
  height: rem(18px);
  text-indent: -9999px;
  overflow: hidden;
  background-color: rgba(0,0,0, .125);
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
  @include animation(marker 2s infinite);
  @include bp-sm {
    right: 30%;
    bottom: 45%;
  }
  @include bp-md {
    right: 31%;
    bottom: 46%;
  }
  @include bp-lg {
    right: 32%;
    bottom: 47%;
  }
  @include bp-xl {
    right: 33%;
    bottom: 48%;
  }
}
