//------------------------------------//
//  $MEDIA
//------------------------------------//

// Codepen
iframe[id*="cp_embed"] {
  width: 100% !important;
  margin-bottom: rem(36px);
}

// Twitter
iframe[id*="twitter-widget"] {
  margin: rem(36px) auto !important;
}

// Airbnb
iframe[class*="embedly-card"] {
  width: 100% !important;
}

// Instagram
.instagram-media {
  max-width: rem(300px) !important;
  margin: rem(36px) auto !important;
}
