//------------------------------------//
//  $SIDEBAR
//------------------------------------//

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow-y: auto;
  font-family: $primary-font;
  font-weight: $font-weight-bold;
  font-size: rem(12px);
  color: $gray-dark-2;
  background-color: $black;
  @include transition(all, .5s, ease-in-out);
  @include bp-md {
    font-size: rem(14px);
  }
}

.sidebar-nav {
  padding: rem(48px) 0;
  @include centerer(fixed);
}

.sidebar-nav-items {
  font-size: rem(24px);
  padding-top: rem(16px);
}

.sidebar-nav-item {
  font-weight: $font-weight-bold;
}

.sidebar a {
  color: $white;
}

.sidebar-checkbox {
  display: none;
}

.sidebar-toggle {
  position: fixed;
  top: rem(24px);
  right: rem(24px);
  display: block;
  width: rem(48px);
  height: rem(48px);
  color: $white;
  text-align: center;
  line-height: 1;
  background-color: transparent;
  border: rem(4px) solid transparent;
  border-radius: 50%;
  padding: rem(28px);
  cursor: pointer;
  opacity: .65;
  @include transition(all, .5s, ease-in-out);
  @include bp-md {
    top: rem(32px);
    right: rem(32px);
  }
  > span,
  > span:before,
  > span:after {
    position: absolute;
    display: block;
    width: rem(32px);
    height: rem(6px);
    background-color: $white;
    cursor: pointer;
    content: "";
    @include transition(all, .25s, ease-in-out);
  }
  > span {
    top: 50%;
    left: 50%;
    margin-top: rem(-3px);
    margin-left: rem(-16px);
  }
  > span:before {
    top: rem(-10px);
  }
  > span:after {
    bottom: rem(-10px);
  }
  &.scrolled {
    color: $gray-light-1;
    background-color: rgba($black, .125);
    border-color: $white;
    opacity: 1;
    > span,
    > span:before,
    > span:after {
      background-color: $white;
    }
  }
  &.active,
  &:active {
    color: $white;
    background-color: $black;
    border-color: $white;
    opacity: 1;
    transform: rotate(180deg);
    > span {
      background-color: transparent;
    }
    > span:before,
    > span:after {
      top: 0;
      background-color: $white;
    }
    > span:before {
      transform: rotate(-45deg);
    }
    > span:after {
      transform: rotate(45deg);
    }
  }

}

/*
#sidebar-checkbox:checked ~ .sidebar-toggle {
  color: $white;
  background-color: $black;
  border-color: $gray-dark-1;
}
*/

.wrap, .sidebar, .sidebar-toggle {
  backface-visibility: hidden;
}

.wrap {
  @include transition(transform, .5s, ease-in-out);
}

#sidebar-checkbox:checked {
  + .sidebar {
    visibility: visible;
  }
  ~ {
    .sidebar, .wrap {
      transform: translateX(-100%);
    }
  }
}
