//------------------------------------//
//  $SOCIAL
//------------------------------------//

.social {
  display: inline-block;
  vertical-align: middle;
  li {
    position: relative;
    display: inline-block;
    width: rem(42px);
    height: rem(42px);
    border-radius: 50%;
    margin: 0 rem(2px);
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
  }
  li a {
    display: inline-block;
    background-color: transparent;
    border-radius: 50%;
    border-width: rem(4px);
    border-style: solid;
    border-color: transparent;
    @extend %filler;
    @include transition(all, .2s, ease-in-out);
    svg > * {
      @include transition(all, .2s, ease-in-out);
    }
  }
  li a strong {
    @include centerer(absolute);
  }
}

.github {
  a:hover {
    //background-color: lighten($github, 10%);
    border-color: $white;
  }
  svg path {
    fill: $white;
  }
}
.twitter {
  svg path {
    fill: $twitter;
  }
  a:hover {
    background-color: $twitter;
    border-color: $twitter;
    svg path {
      fill: $white;
    }
  }
}
/*
.bitbucket {
  svg path {
    fill: $bitbucket;
  }
  a:hover {
    background-color: $bitbucket;
    border-color: $bitbucket;
    svg path {
      fill: $white;
    }
  }
}
*/
.codepen {
  a:hover {
    //background-color: lighten($codepen, 10%);
    border-color: $white;
  }
  svg path {
    fill: $white;
  }
}
.social .instagram {
  svg path {
    fill: $white;
  }
  a {
    position: relative;
    border-color: transparent;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(201deg,rgba(254, 116, 45, 0.05)55%, rgba(255, 177, 63, 0.96)78%, #FFFFFF) 76%,linear-gradient(128deg, rgb(42, 77, 249) , rgba(72, 61, 234, 0.29), rgba(136, 41, 199, 0.3)), linear-gradient(225deg, #D72188, #F91863, #FF3238);
      border-radius: 50%;
      opacity: 0;
      z-index: 0;
      @include transition(opacity, .2s, ease-in-out);
    }
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: url("../img/instagram.svg") no-repeat center center;
      background-size: 100%;
      opacity: 0;
      @include centerer(absolute);
    }
  }
  a:hover {
    border-color: $white;
    &:before,
    &:after {
      opacity: 1;
    }
    svg path {
      fill: $white;
    }
  }
}
.social .dribbble {
  svg path {
    fill: $dribbble;
  }
  a:hover {
    background-color: $dribbble;
    border-color: $dribbble;
    svg path {
      fill: $white;
    }
  }
}
.spotify {
  svg path {
    fill: $spotify;
  }
  a:hover {
    background-color: $spotify;
    border-color: $spotify;
    svg path {
      fill: $white;
    }
  }
}
.googleplus {
  svg path {
    fill: $googleplus;
  }
  a:hover {
    background-color: $googleplus;
    border-color: $googleplus;
    svg path {
      fill: $white;
    }
  }
}
/*
.slack {
  svg path {
    fill: $slack;
  }
  a:hover {
    background-color: $slack;
    border-color: $slack;
    svg path {
      fill: $white;
    }
  }
}
*/
.airbnb {
  svg path {
    fill: $airbnb;
  }
  a:hover {
    background-color: $airbnb;
    border-color: $airbnb;
    svg path {
      fill: $white;
    }
  }
}
.linkedin {
  svg path {
    fill: $white;
  }
  a:hover {
    background-color: $linkedin;
    border-color: $linkedin;
    svg path {
      fill: $white;
    }
  }
}
/*
.email,
.rss {
  svg path {
    fill: $gray-dark-1;
  }
  a:hover {
    border-color: $gray-light-5;
    svg path {
      fill: $gray-light-5;
    }
  }
}
*/

/*
.social a:hover .icn svg path {
  fill: $white;
}
*/

.instagram-load-more {
  display: block;
  width: 100%;
  max-width: rem(180px);
  color: $instagram !important;
  font-weight: $font-weight-bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  border-radius: rem(4px);
  border: rem(4px) solid $instagram;
  padding: rem(24px) rem(16px);
  margin: 0 auto rem(48px);
  cursor: pointer;
  @include transition(all, .2s, ease-in-out);
  &:hover, &:focus {
    text-decoration: none;
    color: $white !important;
    background-color: $instagram !important;
  }
  &.instagram-load-more-disabled {
    color: $white !important;
    text-decoration: line-through !important;
    background-color: $gray-light-2 !important;
    border-color: $gray-light-2 !important;
    cursor: not-allowed !important;
  }
}
