//------------------------------------//
//  $SOCIAL
//------------------------------------//

.social {
  display: inline-block;
  vertical-align: middle;
  li {
    position: relative;
    display: inline-block;
    width: rem(42px);
    height: rem(42px);
    border-radius: 50%;
    //margin: 0 rem(4px);
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
  }
  li a {
    display: inline-block;
    background-color: transparent;
    border-radius: 50%;
    border-width: rem(4px);
    border-style: solid;
    border-color: transparent;
    @extend %filler;
    @include transition(all, .2s, ease-in-out);
    svg > * {
      @include transition(all, .2s, ease-in-out);
    }
  }
  li a strong {
    @include centerer(absolute);
  }
}

.github {
  a:hover {
    //background-color: lighten($github, 10%);
    border-color: $white;
  }
  svg path {
    fill: $white;
  }
}
.twitter {
  svg path {
    fill: $twitter;
  }
  a:hover {
    background-color: $twitter;
    border-color: $twitter;
    svg path {
      fill: $white;
    }
  }
}
.codepen {
  a:hover {
    //background-color: lighten($codepen, 10%);
    border-color: $white;
  }
  svg path {
    fill: $white;
  }
}
/*
.social .instagram {
  a:hover {
    background-color: lighten($instagram, 10%);
    border-color: $instagram;
  }
}
*/
.spotify {
  svg path {
    fill: $spotify;
  }
  a:hover {
    background-color: $spotify;
    border-color: $spotify;
    svg path {
      fill: $white;
    }
  }
}
.googleplus {
  svg path {
    fill: $googleplus;
  }
  a:hover {
    background-color: $googleplus;
    border-color: $googleplus;
    svg path {
      fill: $white;
    }
  }
}
.email,
.rss {
  svg path {
    fill: $gray-dark-1;
  }
  a:hover {
    background-color: $gray-dark-1;
    border-color: $gray-dark-1;
    svg path {
      fill: $white;
    }
  }
}

/*
.social a:hover .icn svg path {
  fill: $white;
}
*/
