//------------------------------------//
//  $WORK
//------------------------------------//

.work {
  margin-bottom: 4em;
}

.work-item {
  border-radius: rem(5px);
}

.work-item-inner {
  position: relative;
  border-radius: rem(5px);
  margin: rem(8px);
}

.work-thumb-img {
  max-width: 60%;
  margin: 0 auto;
}

.work-thumb {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
  @include centerer(absolute);
}
