<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="{% body_class %}">

    {% include sidebar.html %}

    <div class="wrap">

      <header class="masthead" data-js="full-screen"{% if page.title == 'Home' %} style="margin-bottom:0"{% endif %}{% if page.is_post %}  style="background-image:url({{ page.image }});"{% endif %}>
        <div class="masthead-overlay" data-js="gradient-overlay"></div>
        <div class="container">
          <h1 class="masthead-title">
            <div class="logo logo-lg">
              <a href="/" data-js="logo" title="Home">
                {% include cdunn.html %}
              </a>
            </div>
            <div class="logo-text">
              {% if page.title == 'Home' %}Christopher Dunn{% else %}{{ page.title }}{% endif %}
              <small>{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ page.excerpt }}{% endif %}</small>
            </div>
          </h1>
        </div>
      </header>

      <div class="{% if page.title != 'Home' %}container {% endif %}content">
        {{ content }}
        <hr/>
      </div>

      {% if page.location %}
      <section class="location" data-js="location">
        <div class="container">
          <div class="location-state" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <img src="/assets/img/florida.svg" alt="Florida">
            <div class="location-pin" data-js="pin" title="St. Petersburg, FL">
              <span itemprop="addressLocality">St. Petersburg,</span>&nbsp;<span itemprop="addressRegion">FL</span>
            </div>
          </div>
        </div>
      </section>
      {% endif %}

      <footer class="footer footer-lg">
        <div class="container">
          <ul class="social">
            <li class="github" data-js="github"><a href="https://github.com/cdunnnnnnn " title="GitHub" target="_blank">{% include _icons/github.html %}</strong></a></li>
            <li class="twitter" data-js="twitter"><a href="https://twitter.com/cdunnnnnnn" title="Twitter" target="_blank">{% include _icons/twitter.html %}</strong></a></li>
            <li class="linkedin" data-js="linkedin"><a href="https://www.linkedin.com/in/cdunnnnnnn" title="LinkedIn" target="_blank">{% include _icons/linkedin.html %}</strong></a></li>
            <li class="dribbble" data-js="dribbble"><a href="https://dribbble.com/cdunnnnnnn" title="Dribbble" target="_blank">{% include _icons/dribbble.html %}</strong></a></li>
            <li class="codepen" data-js="codepen"><a href="http://codepen.io/cdunnnnnnn" title="Codepen" target="_blank">{% include _icons/codepen.html %}</strong></a></li>
            <li class="instagram" data-js="instagram"><a href="https://www.instagram.com/cdunnnnnnn" title="Instagram" target="_blank">{% include _icons/instagram.html %}</strong></a></li>
            <li class="spotify" data-js="spotify"><a href="http://open.spotify.com/user/pxdunn" title="Spotify" target="_blank">{% include _icons/spotify.html %}</strong></a></li>
          </ul>
          <ul class="inline-list" style="margin-bottom:0;">
            <li class="logo logo-sm{% if page.title == 'Home' %} active{% endif %}">
              <a href="/" title="Home" data-js="logo-sm">
                {% include cdunn.html %}
              </a>
            </li>
            <li><a class="footer-nav-item{% if page.title == 'About' %} active{% endif %}" href="/about">About</a></li>
            <li><a class="footer-nav-item{% if page.title == 'Photos' %} active{% endif %}" href="/photos">Photos</a></li>
          </ul>
          <br>
          <ul>
            <li>
              <span>built with <a href="http://gulpjs.com/" target="_blank">gulp.js</a></span>
            </li>
            <li>
              <span>published with <a href="http://jekyllrb.com/" target="_blank">jekyll</a></span>
            </li>
            <li>
              <span>deployed with <a href="https://surge.sh/" target="_blank">surge</a></span>
            </li>
            <li>
              <span>copyright &copy; <script>document.write(new Date().getFullYear());</script>&nbsp;<a href="&#x6d;&#97;&#105;&#108;&#116;&#x6f;&#x3a;&#x68;&#x65;&#x6c;&#108;&#x6f;&#64;&#x63;&#x64;&#117;&#110;&#x6e;&#46;&#x69;&#111;&#63;&#115;&#x75;&#98;&#x6a;&#x65;&#x63;&#x74;&#61;&#x69;&#x6e;&#113;&#x75;&#x69;&#114;&#121;&#32;&#102;&#114;&#x6f;&#x6d;&#32;&#x63;&#100;&#x75;&#110;&#110;&#x2e;&#105;&#x6f;">cdunn</a></span>
            </li>
          </ul>
        </div>
      </footer>

    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle" data-js="sidebar-toggle"><span></span></label>

    {% include scripts.html %}

  </body>
</html>
