---
layout: default
location: true
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <span itemprop="headline" hidden>{{ page.title }} - {{ page.excerpt }}</span>
  <span itemprop="image" hidden>{{ site.url }}{{ page.image }}</span>
  <div class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
    <a href="/about">
      <img src="/assets/img/cdunn.jpg" alt="{{ site.title }}">
    </a>
    by <a href="https://twitter.com/{{ page.author }}" target="_blank" itemprop="name">{{ page.author }}</a>
  </div>
  <div class="post-date">
    <span itemprop="datePublished">{{ page.date | date: '%b %d, %Y' }}&nbsp;&nbsp;</span>
  </div>
  {% include share.html %}
  <div itemprop="articleBody">
    {{ content }}
  </div>
  <div class="cf"></div>
  <h4 id="comments">Comments</h4>
  <div id="disqus_thread"></div>
  <script>(function(){var d = document, s = d.createElement('script');s.src = '//cdunnio.disqus.com/embed.js';s.setAttribute('data-timestamp', +new Date());(d.head || d.body).appendChild(s);})();</script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>
