.timeline {
  @apply w-full flex flex-col relative mx-auto;
  max-width: 85%;

  @screen md {
    max-width: 100%;
  }
}

.timeline__item {
  @apply text-sm leading-relaxed m-0 p-12 relative;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #00b1d4 100%);
  border-image-slice: 1;
  // border-width: 3px;

  &:nth-child(odd) {
    @apply pl-0;
    border-right: 3px solid;

    .timeline__item-year {
      left: 100%;
      margin-left: -25px;
    }
  }

  &:nth-child(even) {
    @apply pr-0;
    border-left: 3px solid;

    .timeline__item-year {
      right: 100%;
      margin-right: -25px;
    }
  }

  &:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  &:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.timeline__item-year {
  @apply absolute px-3 py-1 bg-black text-center text-white;
}

.timeline__item-title {
  @apply text-lg font-bold tracking-wide;
}
