---
layout: default
title: Stuff
subtitle: Work/notes about building internet on the front end
location: true
---

<div class="posts row">
  {% for post in paginator.posts %}
  <div class="post col" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post-hero" href="{{ post.url }}"{% if post.logo %} style="background-color:#{{ post.color }}"{% else %} style="background-image:url({{ post.image }})"{% endif %}>
      <!--
      {% if post.color %}
        <img src="http://placehold.it/120x60/{{ post.color }}/{{ post.color }}" alt="{{ post.title }}" title="{{ post.title }}">
      {% else %}
        <img src="{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}" itemprop="image">
      {% endif %}
      -->
      <div class="post-hero-inner">
        <span itemprop="name" hidden>{{ page.author }}</span>
        {% if post.logo %}
          <span itemprop="headline" hidden>{{ post.title }}</span>
          <span itemprop="image" hidden>{{ post.image }}</span>
          <a class="icn icn-lgt icn-logo" href="{{ post.url }}" style="width:{{ post.logoWidth }};height:{{ post.logoHeight}}">{% include {{ post.logo }} %}</a>
        {% else %}
          <h2 class="post-hero-title" itemprop="headline"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        {% endif %}
        <p class="post-hero-excerpt">{{ post.excerpt }}</p>
        <a class="btn btn-stick-bttm btn-sz-md btn-radius" href="{{ post.url }}">More</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="container">
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-item older" href="/page{{paginator.next_page}}">&larr; Older</a>
    {% else %}
      <span class="pagination-item older">&larr; Older</span>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item newer" href="/">Newer &rarr;</a>
      {% else %}
        <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer &rarr;</a>
      {% endif %}
    {% else %}
      <span class="pagination-item newer">Newer &rarr;</span>
    {% endif %}
  </div>
</div>
